body {
	margin-top: 0px;
}

h1 {
	text-align: center;
	font-family: Times,serif;
}

.container {
	width: 1028px;
	margin: 0px auto 10px;
}

.container.border {
	border-top: 2px solid #444444;
	padding-top: -2px; 
}

.screen-container {
	border: 2px solid #999999;
	z-index: 1;
}

canvas.screen {
	width: 1024px;
	height: 512px;
	margin: auto;
	display: block;
}

canvas#fullscreen {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pull-right {
	float: right;
}

.button {
	border: 0 none;
	border-radius: 0px 0px 4px 4px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 7px 10px;
	text-decoration: none;
	text-align: center;
}
.button.dark {
	background: none repeat scroll 0 0 #444444;
}
.button.dark:hover {
	background: none repeat scroll 0 0 #a94442;
}
.button.light {
	background: none repeat scroll 0 0 #999999;
}
.button.light:hover {
	background: none repeat scroll 0 0 #a94442;
}

.error-msg {
	display: none;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	background-color: #f2dede;
	color: #a94442;
	font-family: Arial,sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 15px;
}